<div id="sidebar">
  <div class="panel">
    <div class="header">
      <span class="col_fade">Author</span>
    </div>
    <div class="inner">
      <%- include("../user/card", { user: topic.author }) %>
    </div>
  </div>

  <div class="panel">
    <div class="header">
      <span class="col_fade">Author Topics</span>
    </div>
    <div class="inner">
      <% if (typeof(author_other_topics) === 'undefined' || author_other_topics.length > 0) { %>
      <ul class="unstyled">
        <% author_other_topics.forEach(topic => { %>
        <%- include("./small", { topic: topic }) %>
        <% }); %>
      </ul>
      <% } else { %>
      <p>None</p>
      <% } %>
    </div>
  </div>

  <div class="panel">
    <div class="header">
      <span class="col_fade">No reply topics</span>
    </div>
    <div class="inner">
      <% if (typeof(no_reply_topics) !== 'undefined' && no_reply_topics.length > 0) { %>
      <ul class="unstyled">
        <% no_reply_topics.forEach(topic => { %>
        <%- include("./small", { topic: topic }) %>
        <% }); %>
      </ul>
      <% } else { %>
      <p>None</p>
      <% } %>
    </div>
  </div>
</div>

<div id="content">
  <div class="panel">
    <div class="header topic_header">
      <div>
        <span class="topic_full_title">
          <% if (topic.top) { %>
          <span class="put_top">Top</span>
          <% } else if (topic.good) { %>
          <span class="put_good">Good</span>
          <% } else if (typeof(tab) !== 'undefined' &&  tab === 'all' && topic.tabName) { %>
          <span class="topiclist-tab"><%= topic.tabName %></span>
          <% } %>
          <%= topic.title %>
        </span>
        <% const safeTitle = topic.title.replace(/'/g, "\\'").replace(/"/g, '\\"'); %>
        <span class="share_topic" title="share to twitter"
          onclick="share2twitter('<%=safeTitle%>', '', '<%=config.host%>/topic/<%=topic._id%>', '<%= helper.tabName(topic.tab)%>')">
          <svg style="width: 22px; height: 22px; vertical-align: middle; fill: gray;"><use xlink:href="/static/img/icons.svg#twitter" /></svg>
        </span>
      </div>

      <div class="changes">
        <span>
          Created at <%= topic.create_at_ago() %>
        </span>
        <span>
          Author <a href="/user/<%= topic.author._id %>"><%= topic.author.name %></a>
        </span>
        <span>
          <%= topic.visit_count %> views
        </span>
        <% if (topic.create_at_ago() != topic.update_at_ago()) { %>
        <span>
          Last edit at <%= topic.update_at_ago() %>
        </span>
        <% } %>
        <% if (topic.tab) { %>
        <span>
          From <%= topic.tabName %>
        </span>
        <% } %>
        <% if (current_user) { %>
        <input class="span-common <%= is_mark ? '' : 'span-success' %> pull-right mark_btn" type="submit"
               value="<%= is_mark ? 'unMark' : 'Mark' %>" action="<%= is_mark ? 'unmark' : 'mark' %>"
        />
        <% } %>
      </div>

      <% if (current_user) { %>
      <div id="manage_topic">
        <% if (current_user.is_admin) { %>
          <a href="/topic/<%= topic._id %>/top" data-method="post">
            <% if (topic.top) { %>
              <span title="cancel top">
                <svg style="width: 18px; height: 18px; fill: gray;"><use xlink:href="/static/img/icons.svg#star-s" /></svg>
              </span>
            <% } else { %>
              <span title="top">
                <svg style="width: 18px; height: 18px; fill: gray;"><use xlink:href="/static/img/icons.svg#star-o" /></svg>
              </span>
            <% } %>
          </a>

          <a href="/topic/<%= topic._id %>/good" data-method="post">
            <% if (topic.good) { %>
              <span title="cancel good">
                <svg style="width: 18px; height: 18px; fill: gray;"><use xlink:href="/static/img/icons.svg#heart-s" /></svg>
              </span>
            <% } else { %>
              <span title="good">
                <svg style="width: 18px; height: 18px; fill: gray;"><use xlink:href="/static/img/icons.svg#heart-o" /></svg>
              </span>
            <% } %>
          </a>

          <a href="/topic/<%= topic._id %>/lock" data-method="post">
            <% if (topic.lock) { %>
              <span title="cancel lock">
                <svg style="width: 18px; height: 18px; fill: gray;"><use xlink:href="/static/img/icons.svg#lock-s" /></svg>
              </span>
            <% } else { %>
              <span title="lock">
                <svg style="width: 18px; height: 18px; fill: gray;"><use xlink:href="/static/img/icons.svg#lock-o" /></svg>
              </span>
            <% } %>
          </a>

          <a href="/topic/<%= topic._id %>/edit">
            <span title="edit">
              <svg style="width: 18px; height: 18px; fill: gray;"><use xlink:href="/static/img/icons.svg#pen-to-square" /></svg>
            </span>
          </a>
          <a href="javascript:;" data-id="<%= topic._id %>" class="delete_topic_btn">
            <span title="delete">
              <svg style="width: 18px; height: 18px; fill: gray;"><use xlink:href="/static/img/icons.svg#trash-can" /></svg>
            </span>
          </a>
        <% } else if(current_user._id.equals(topic.author_id)) { %>
          <a href="/topic/<%= topic._id %>/edit">
            <span title="edit">
              <svg style="width: 18px; height: 18px; fill: gray;"><use xlink:href="/static/img/icons.svg#pen-to-square" /></svg>
            </span>
          </a>
          <a href="javascript:;" data-id="<%= topic._id %>" class="delete_topic_btn">
            <span title="delete">
              <svg style="width: 18px; height: 18px; fill: gray;"><use xlink:href="/static/img/icons.svg#trash-can" /></svg>
            </span>
          </a>
        <% } %>
      </div>
      <% } %>
    </div>

    <div class="inner topic">
      <div class="topic_content">
        <%- helper.markdown(topic.linkedContent) %>
      </div>
    </div>
  </div>

  <% if (topic.replies && topic.replies.length > 0) { %>
  <div class="panel">
    <div class="header">
      <span class="col_fade"><%= topic.replies.length %>-reply</span>
    </div>
    <% topic.replies.forEach((reply, index) => { %>
      <%- include("../reply/reply", {reply: reply, index: index}) %>
    <% }); %>
  </div>
  <% } %>

  <% if (current_user && typeof(topic) !== 'undefined') { %>
  <div class="panel">
    <div class="header">
      <span class="col_fade">reply</span>
    </div>
    <div class="inner reply">
      <form id="reply_form" action="/reply/to/<%= topic._id %>" method="post">
        <div class="markdown_editor in_editor">
          <div class="markdown_in_editor">
            <textarea class="editor" name="r_content" rows="8"></textarea>
            <div class="editor_buttons">
              <input class="span-primary submit_btn" type="submit" data-loading-text="replying.." value="reply<%= topic.lock ? '(locked)' : ''%>" <%= topic.lock ? 'disabled="disabled"' : ''%>>
            </div>
          </div>
        </div>
        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrf %>"/>
      </form>
    </div>
  </div>
  <% } %>
</div>

<div class="replies_history">
  <div class="inner_content"></div>
  <div class="anchor"></div>
</div>

<div class="modal fade" id="preview-modal">
  <div class="modal-body" style="max-height: initial;">
    <img src="" alt="Click on the content or outside to automatically close the image preview" id="preview-image">
  </div>
</div>

<%- include('../editor/editor') %>
<script>
document.addEventListener('DOMContentLoaded', function () {
  $('textarea.editor').each(initEditor);
  $('#content').on('click', '.reply2_btn', e => commentReply(e));
  $('#content').on('click', '.delete_reply_btn, .delete_reply2_btn', e => deleteReply(e, '<%= csrf %>'));
  $('.up_btn').click(upReply);
  $('.mark_btn').click(e => markTopic(e, '<%= topic._id %>', '<%= csrf %>'));
  $('.delete_topic_btn').click(deleteTopic);
  initReplyHistory();
  initImgPreviewModal();
});
</script>
