<div class="user_card">
  <div>
    <a class="user_avatar" href="/user/<%= user._id %>">
      <img src="<%= helper.proxy(user.avatar_url) %>" title="<%= user.name %>"/>
    </a>
    <a class="user_name dark" href="/user/<%= user._id %>"><%= user.name %></a>

    <div class="board clearfix">
      <div class="floor">
        <span class="big">Score: <%= user.score %> </span>
      </div>
    </div>
    <div class="space clearfix"></div>
    <span class="biog">
      <% if (user.biog) {%>
        <%- helper.escapeBiog(user.biog)%>
      <%}%>
    </span>
  </div>
</div>

<% if (current_user) { %>
<script>
document.addEventListener('DOMContentLoaded', function () {
  $('.follow_btn').click(initFollowBtn);
});
</script>
<% } %>
