<%- include('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Home</a><span class='divider'>/</span></li>
      </ul>
    </div>
    <div class='inner userinfo'>
      <div class='user_big_avatar'>
        <img src="<%= helper.proxy(user.avatar_url) %>" class="user_avatar" title="<%= user.name %>"/>
      </div>
      <a class='dark'><%= user.name %></a>

      <div class='user_profile'>
        <ul class='unstyled'>
          <li>
            <span class='big'><%= user.score %>&nbsp;Score</span>
            <br />
            <span class="biog">
              <% if (user.biog) {%>
                <%- helper.escapeBiog(user.biog)%>
              <%}%>
            </span>
          </li>
          <% if (user.mark_topic_count) {%>
          <li>
            <a class='dark' href="/user/<%= user._id %>/markedtopics" target='_blank'>
              <span class='big topic-mark-count'><%= user.mark_topic_count %></span> Marked Topic
            </a>
          </li>
          <%}%>
          <% if (user.githubUsername) { %>
          <li>
            <svg style="width: 18px; height: 18px; vertical-align: middle; fill: gray;"><use xlink:href="/static/img/icons.svg#github" /></svg>
            <a class='dark' href="https://github.com/<%= user.githubUsername %>" target='_blank'>
              @<%= user.githubUsername %>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
      <p class='col_fade'>come at <%= user.create_at_ago() %></p>
      <% if (current_user && current_user.is_admin) { %>
      <% if (!user.is_advance) { %>
      <span class='span-common' id='set_advance_btn' action='set_advance'>set as advance</span>
      <% } else { %>
      <span class='span-common' id='set_advance_btn' action='cancel_advance'>cancel advance</span>
      <% } %>

      <% if (!user.is_block) { %>
      <span class='span-common' id='set_block_btn' action='set_block'>block user</span>
      <% } else { %>
      <span class='span-common' id='set_block_btn' action='cancel_block'>cancel block</span>
      <% } %>

      <span class="span-common" id="delete_all">delete all speak</span>

      <br/><br/>
      Email (Seen by Administrator): <a href="mailto:<%= user.email %>"><%= user.email %></a>
      <% if (!user.active) { %>
      <a href="/active_account?key=<%- typeof(token) !== 'undefined' && token %>&uid=<%= user._id %>"
         target="_blank">
         <span class="span-common">
           active acount
         </span>
       </a>
      <% } %>
      <% } %>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>latest topics</span>
    </div>
    <% if (typeof(recent_topics) !== 'undefined' && recent_topics.length > 0) { %>
    <% recent_topics.forEach(topic => { %>
      <%- include('../topic/abstract', { topic: topic }) %>
    <% }); %>
    <div class='cell more'>
      <a class='dark' href="/user/<%= user._id %>/topics">more»</a>
    </div>
    <% } else { %>
    <div class='inner'>
      <p>No Topic</p>
    </div>
    <% } %>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>joined topics</span>
    </div>
    <% if (typeof(recent_replies) !== 'undefined' && recent_replies.length > 0) { %>
    <% recent_replies.forEach(topic => { %>
      <%- include('../topic/abstract', { topic: topic }) %>
    <% }); %>
    <div class='cell more'>
      <a class='dark' href="/user/<%= user._id %>/replies">more»</a>
    </div>
    <% } else { %>
    <div class='inner'>
      <p>No Topic</p>
    </div>
    <% } %>
  </div>
</div>

<% if (current_user) { %>
<script>
  $(document).ready(function () {
    $('#set_advance_btn').click(function () {
      var $me = $(this);
      var action = $me.attr('action');
      var params = {
        user_id: '<%= user._id %>',
        _csrf: '<%- csrf %>'
      };
      $.post('/user/' + action, params, function (data) {
        if (data.status === 'success') {
          if (action === 'set_advance') {
            $me.html('cancel advance');
            $me.attr('action', 'cancel_advance');
          } else {
            $me.html('set as advance');
            $me.attr('action', 'set_advance');
          }
        }
      }, 'json');
    });

    $('#set_block_btn').click(function () {
      var $me = $(this);
      var action = $me.attr('action');
      var params = {
        _csrf: '<%- csrf %>',
        action: action
      };
      if (action === 'set_block' && !confirm('sure to block this user')) {
        return;
      }
      $.post('/user/<%- user._id %>/block', params, function (data) {
        if (data.status === 'success') {
          if (action === 'set_block') {
            $me.html('cancel block');
            $me.attr('action', 'cancel_block');
          } else if (action === 'cancel_block') {
            $me.html('block user');
            $me.attr('action', 'set_block');
          }
        }
      }, 'json');
    })

    $('#delete_all').click(function () {
      var $me = $(this);
      var params = {
        _csrf: '<%- csrf %>',
      };
      if (!confirm('sure to delete?')) {
        return;
      }
      $.post('/user/<%- user._id %>/delete_all', params, function (data) {
        if (data.status === 'success') {
          alert('success');
        }
      }, 'json');
    })
  });
</script>
<% } %>
