<%- include('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Home</a><span class='divider'>/</span></li>
        <li class='active'>Top100 Score Rankings</li>
      </ul>
    </div>
    <div class='inner'>
      <% if(typeof(users) !== 'undefined' && users.length > 0){ %>
      <table class='table table-condensed table-striped'>
        <thead>
          <th>#</th>
          <th>Name</th>
          <th>Score</th>
          <th>Topics</th>
          <th>Replys</th>
        </thead>
        <tbody>
          <% users.forEach((user, index) => { %>
          <tr>
            <td><b><%= index+1 %></b></td>
            <td>
              <a class='user_avatar' href="/user/<%= user._id %>">
                <img src="<%= helper.proxy(user.avatar_url) %>" title="<%= user.name %>"/>
              </a>
              <span class='sp10'></span>
              <a href='/user/<%= user._id %>'><%= user.name %></a>
            </td>
            <td><%= user.score %></td>
            <td><%= user.topic_count %></td>
            <td><%= user.reply_count %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
      <p>No User</p>
      <% } %>
    </div>
  </div>
</div>
